/**
 * Name: webtrends_data_display.css
 * Author: British Council - Desktop web design.
 * Description: Webtrends Data Display styles.
 */

#webtrends-data-display-block-content {
    margin-bottom: 30px;
}

.webtrends-help-text {
    display: block;
    margin-bottom: 20px;
    color: #5e277a;
}

.block-webtrends-data-display a.use-ajax {
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 30px;
    background-color: #d4d4d4;
    border: #fff;
    color: #333;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.block-webtrends-data-display a.use-ajax:hover,
.block-webtrends-data-display a.use-ajax:active,
.block-webtrends-data-display a.use-ajax.selected,
.block-webtrends-data-display a.use-ajax.active-webtrends-button {
    background-color: #36a2f6;
    border: #1d7ae9;
    color: #fff;
}

.block-webtrends-data-display a.use-ajax[href*="last_day"] {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.block-webtrends-data-display a.use-ajax[href*="last_week"]{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.webtrends-data-display-wrapper {
    width: 938px;
}

.block .webtrends-data-display-wrapper .webtrends-tabs {
    margin: 0;
}

.webtrends-tabs div {
    width: 225px;
    display: table-cell;
    padding-right: 10px;
    list-style-type: none;
}

.webtrends-device-date {
    position: relative;
}

.block .webtrends-data-display-wrapper .webtrends-list {
    margin: 0;
    display: none;
    width: 937px;
}

.webtrends-list li {
    width: 14%;
    display: inline-block;
    list-style-type: none;
    margin-right: -2px;
    background-color: #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.webtrends-list li:first-child {
    border-left: 1px solid #d4d4d4;
}

.webtrends-data-heading {
    position: relative;
    margin: 0;
    padding: 15px 10px 5px;
    background-color: #6c6a6a;
    border-bottom: 1px solid #6c6a6a;
    min-height: 35px;
    line-height: 2.2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.webtrends-data-heading:hover,
.webtrends-data-heading.active-device-tab {
    background-color: #d4d4d4;
    border-color: #fff;
    color: #333;
    cursor: pointer;
}

.webtrends-data-heading:before {
    content: " ";
    display: block;
    position: absolute;
    left: 45px;
    top: 6px;
    width: 39px;
    height: 37px;
    background-image: url("../images/webtrends-tabs-icons-sprite.png");
    background-repeat: no-repeat;
}

.webtrends-data-heading.total:before {
    left: 50px;
    background-position: 0 -32px;
}

.webtrends-data-heading.total:hover:before,
.webtrends-data-heading.active-device-tab.total:before {
    background-position: 0 10px;
}

.webtrends-data-heading.mobile:before {
    background-position: 0 -131px;
}

.webtrends-data-heading.mobile:hover:before,
.webtrends-data-heading.active-device-tab.mobile:before {
    background-position: 0 -84px;
}

.webtrends-data-heading.tablet:before {
    background-position: 0 -207px;
}

.webtrends-data-heading.tablet:hover:before,
.webtrends-data-heading.active-device-tab.tablet:before {
    background-position: 0 -169px;
}

.webtrends-data-heading.desktop:before {
    left: 32px;
    background-position: 0 -287px;
}

.webtrends-data-heading.desktop:hover:before,
.webtrends-data-heading.active-device-tab.desktop:before {
    background-position: 0 -247px;
}

h3.webtrends-data-subheading {
    position: relative;
    margin: 0;
    padding: 65px 15px 10px;
    min-height: 40px;
    text-align: center;
    background-color: #d4d4d4;
    color: #333;
    font-size: 12px;
    text-transform: none;
}

h3.webtrends-data-subheading:before {
    content: " ";
    display: block;
    position: absolute;
    left: 40px;
    top: 20px;
    width: 49px;
    height: 34px;
    background-image: url("../images/webtrends-data-icons-sprite.png");
    background-repeat: no-repeat;
}

h3.webtrends-data-subheading.page-views:before {
    background-position: center 4px;
}

h3.webtrends-data-subheading.page-visits:before {
    background-position: center -41px;
}

h3.webtrends-data-subheading.single-page-view-visits:before {
    background-position: center -85px;
}

h3.webtrends-data-subheading.entry-page-visits:before {
    background-position: center -127px;
}

h3.webtrends-data-subheading.avg-view-time-sec:before {
    background-position: center -172px;
}

h3.webtrends-data-subheading.views-per-visit:before {
    background-position: center -217px;
}

h3.webtrends-data-subheading.bounce-rate:before {
    background-position: center -261px;
}

.webtrends-list li .webtrends-value,
.webtrends-list li .webtrends-percent-value {
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.webtrends-list li .webtrends-value {
    margin-right: -1px;
    border-right: 1px solid #d4d4d4;
    font-size: 20px;
}

.webtrends-list li .webtrends-percent-value {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5e277a;
    color: #fff;
    font-size: 10px;
}

.webtrends-info,
.webtrends-detail {
    display: inline-block;
    padding: 0px 10px 0 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 3.6;
    border: 1px solid #5e277a;
    background: #efe9f1;
}

.webtrends-detail {
    font-size: 16px;
    border: 1px solid #5e277a;
    background: #efe9f1;
}

.webtrends-info {
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid #36a2f6;
    background: #f4f9fd;
}

.webtrends-info a {
    color: #36a2f6;
}

.webtrends-info span,
.webtrends-detail span,
.webtrends-no-data span {
    width: 51px;
    height: 48px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 15px 16px 8px;
    text-indent: -500px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.webtrends-detail span {
    background-color: #5e277a;
    background-image: url("../images/webtrends-warning-icon.png");
}

.webtrends-info span {
    background-color: #36a2f6;
    background-image: url("../images/webtrends-info-icon.png");
    display: block;
    float: left;
}

.webtrends-info p {
    position: relative;
    top: 15px;
    line-height: 1.3;
}

.webtrends-no-data span {
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url("../images/webtrends-help-circled.png");
    background-position: 0 0;
}

.webtrends-no-data {
    margin-right: 8px;
    padding: 10px 0;
    background: #5e277a;
    border-top: 1px solid #fff;
    font-size: 16px;
    color: #fff;
}

.webtrends-no-data p {
    margin: 0;
    line-height: 2;
    text-align: center;
}
